.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}
/*Changed to use anchor instead of button*/
.list-arrows a {
    margin-bottom: 20px;
}